body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 112px;
}

footer {
  border-top: 1px solid #29a867;
  margin: 72px 0px 32px 0px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
